body {
  margin: 0;
  padding: 0;
  background-image: url('image.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  display: block;
  justify-content: center;
  align-items: center;
}

.app {
  padding: 0px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: rgba(227, 230, 224, 0.9);
  border-radius: 12px;
  border: 5px solid rgb(185, 228, 243);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.app h1 {
  font-size: 2.5em;
  margin: 20px auto;
  color: #FFFFFF;
  border-radius: 10px;
  background-color: #22577A;
  padding: 15px;
  display: inline-block;
  width: 30%;
  height: 40%;
  animation: glow 3.0s ease-in-out infinite alternate;

}

@keyframes glow {
  0% {
    text-shadow: 
      0 0 10px #fff,
      0 0 20px #fff,  
      0 0 30px #006400, 
      0 0 40px #006400, 
      0 0 50px #006400;
  }
  25% {
    text-shadow:
      0 0 30px #006400, 
      0 0 40px #2E8B57,
      0 0 50px #2E8B57, 
      0 0 60px #2E8B57;
  }
  50% {
    text-shadow:
      0 0 30px #2E8B57,
      0 0 40px #008080,
      0 0 50px #008080, 
      0 0 60px #008080;
  }
  75% {
    text-shadow:
      0 0 40px #008080,
      0 0 50px #003300,
      0 0 60px #003300, 
      0 0 70px #003300;
  }
  100% {
    text-shadow:
      0 0 50px #003300,
      0 0 60px #006400, 
      0 0 70px #006400, 
      0 0 80px #006400,
      0 0 90px #fff,
      0 0 100px #fff;
  }
}

.home {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.task-form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  color: #90B0BA;
}

.task-input {
  width: 300px;
  height: 30px;
  padding: 10px;
  font-size: 15px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-task-button {
  padding: 10px 20px;
  border: none;
  background-color: #fb6107;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-task-button:hover {
  background-color: #C94C03;
}

.task-sections {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  gap: 20px;
  height: calc(100% - 120px);
}

.task-section {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  background-color: rgb(249, 249, 249, 0.8);
  flex: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.task-section .header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.task-section > h2 {
  margin-bottom: 10px;
  font-size: 1.2em;
}

.task-section ul {
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
  width: 100%;
  overflow-wrap: break-word;
}

.tasks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  word-break: break-all;
}

.task-section ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
}

.task-section button {
  min-width: 60px;
  min-height: 30px;
  margin-left: auto;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  transition: background-color 0.3s;
}

.task-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
}

.tasks button {
  flex-grow: 1;
  margin: 0 5px;
}

.task-section:nth-child(1) .tasks button:nth-child(1) {
  background-color: #3498db;
}

.task-section:nth-child(1) .tasks button:nth-child(2) {
  background-color: #2ecc71;
}

.task-section:nth-child(1) .tasks button:nth-child(3) {
  background-color: #e74c3c;
}

.task-section:nth-child(2) .tasks button:nth-child(1) {  
  background-color: #3498db;
}

.task-section:nth-child(2) .tasks button:nth-child(2) {
  background-color: #2ecc71;
}

.task-section:nth-child(2) .tasks button:nth-child(3) {
  background-color: #e74c3c;
}

.task-section:nth-child(3) .tasks button:nth-child(1) {
  background-color: #3498db;
}

.task-section:nth-child(3) .tasks button:nth-child(2) {
  background-color: #2ecc71;
}

.task-section:nth-child(3) .tasks button:nth-child(3) {
  background-color: #e74c3c;
}

.tasks button:hover {
  filter: brightness(75%);
}

.task-text {
  text-align: left;
  border: 1px solid #ddd;
  padding: 8px;
  margin-bottom: 5px;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}